:root.theme-light {
  --accent-color: #000;
  --bg-color: #fff;
  --stroke-color: #fff;
  --like-button-color: #fff;
  --core-color: #000;
  --bg-gradient: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px) 0 0 / 100% 4px,
    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px) 0 0 / 4px 100%,
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --text-weight-regular: 400;
  --text-weight-title: 700;
}

:root.theme-dark {
  --stroke-color: #000;
  --accent-color: #00CC14;
  --bg-color: #000;
  --like-button-color: #00CC14;
  --core-color: transparent;
  --bg-gradient: repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px) 0 0 / 100% 4px,
    repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px) 0 0 / 4px 100%,
    linear-gradient(to bottom, #007f0c, #004306);
  --text-weight-regular: 465;
  --text-weight-title: 785;
}

@media (prefers-color-scheme: dark) {
  :root {
    --stroke-color: #000;
    --accent-color: #00CC14;
    --bg-color: #000;
    --like-button-color: #00CC14;
    --core-color: transparent;
    --bg-gradient: repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px) 0 0 / 100% 4px,
      repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px) 0 0 / 4px 100%,
      linear-gradient(to bottom, #007f0c, #004306);
    --text-weight-regular: 465;
    --text-weight-title: 785;
  }
}